@using GAMCUC.Web.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Student</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Admission</span>
            </li>
        </ul>

    </div>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }

            <section id="externalLogins">
                @Html.Action("RemoveAccountList")
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
