@model List<GAMCUC.ViewModel.AcademicRecordsViewModel>
@{
    ViewBag.Title = "AcademicRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <h2>Academic Records</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-body form">

                    @using (Html.BeginForm("AcademicRecords", "Student", new { area = "Students" }, FormMethod.Post))
                    {

                        <div class="form-horizontal">
                            <table class="table table-striped table-bordered table-hover" id="datatable_reviews">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="10%"> Name of Exam </th>
                                        <th width="10%"> Group/Subject </th>
                                        <th width="10%"> Board/University </th>
                                        <th width="10%"> Year of Passing </th>
                                        <th width="10%"> Roll of Exam </th>
                                        <th width="10%"> Class/Division Grade </th>
                                    </tr>

                                </thead>
                                <tbody>


                                    @{
                        int j = 0;
                        foreach (var i in Model)
                        {
                            <tr role="row" class="filter">
                                <td>
                                    @Html.DropDownListFor(item => item[j].ExamId, ViewBag.ExamList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control form-filter input-sm" })
                                    
                                    

                                </td>
                                <td>
                                    @Html.DropDownListFor(item => item[j].GroupId, ViewBag.GroupList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control form-filter input-sm" })
                                   
                                </td>

                                <td>
                                    @Html.DropDownListFor(item => item[j].BoardId, ViewBag.BoardList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control form-filter input-sm" })
                                   
                                </td>

                                <td>
                                    @Html.TextBoxFor(item => item[j].YearOfPassing, new { @class = "form-control  form-filter input-sm yearselect" })
                                    
                                </td>
                                <td>
                                    @Html.TextBoxFor(item => item[j].RollOfExam, new { @class = "form-control  form-filter input-sm" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(item => item[j].Grade, new { @class = "form-control  form-filter input-sm" })

                                </td>
                            </tr>
                                    j++;
                        }
                                    }
                                </tbody>
                            </table>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">

                                        <input type="submit" id="Next" class="btn green button-submit" name="Next" value="Next" />

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/year-select.js"></script>
    <script>

        $(document).ready(function () {

            $.ajax({
                url: "/Students/Student/GetAllGroup",
                type: "Get",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].GroupName, data[i].Id);
                        $('.op1').append(opt);
                    }
                }
            });

            $.ajax({
                url: "/Students/Student/GetAllBoard",
                type: "Get",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].BoardName, data[i].Id);
                        $('.op2').append(opt);
                    }
                }
            });


            $('.yearselect').yearselect();


        });

    </script>
}



