@model IEnumerable<GAMCUC.ViewModel.StudentAdmissionViewModel>

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Student</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Admission</span>
            </li>
        </ul>

    </div>


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Student List
            </div>
           
            <div class="tools"> </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            @Html.ActionLink("Create New", "PersonalInfo", "Student", null, new { area = "Students", @class = "btn sbold green" })
                        </div>
                    </div>
                    
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="sample_2">
                <thead>
                    <tr>
                        <th> SL </th>
                        <th> SID </th>
                        <th> Name </th>
                        <th> Course </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select((x, i) => new { data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>@item.Index</td>
                            <td>@item.data.StdId</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.data.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.data.StdNameEnglish)
                            </td>
                            <td>
                                <div class="actions">
                                    <div class="btn-group">
                                        @Html.ActionLink("Details", "StudentDetails", "Student", new { id = item.data.Id, area = "Students"},new{ @class = "btn sbold green" })
                                        @Html.ActionLink("ID Card", "StudentIdCardPrint", new { id = item.data.Id }, new { @class = "btn red btn-outline sbold", target = "_blank" })
                                      
                                        @if (TempData["isActive"].ToString() == "True" )
                                        {
                                        @Html.ActionLink("Inactive", "StudentInactive", new { id = item.data.Id, area = "Students" }, new { @class = "btn sbold red" })
                                        }
                                        else
                                        {
                                        @Html.ActionLink(" Active  ", "StudentActive", new { id = item.data.Id, area = "Students" }, new { @class = "btn sbold blue" })
                                        }
                                        @*<input type="checkbox" name="toggleChk" class="make-switch" onchange="AccountStatusChange();" data-on-text="&nbsp;Enabled&nbsp;&nbsp;" data-off-text="&nbsp;Disabled&nbsp;">*@
                                        
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

</div>

@section scripts{

<script type="text/javascript">
                $(function () {
                    var url = "";
                    $("#ConfirmeDialog").dialog({
                        autoOpen: false,
                        width: 400,
                        height: 280,
                        modal: true,
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                    });
                    $("#openDialog").click(function (e) {
                        url = $(this).attr('href');
                        $("#ConfirmeDialog").dialog("open");
                        return false;
                    });
                    $("#modalBtn").click(function (e) {
                        var tex = jQuery.trim($("#pass").val());
                        if ('@TempData["Password"]' != tex) {
                            $("#mass").html("Your password is wrong");

                        }
                        else {
                            $("#ConfirmeDialog").dialog("close");
                            window.location.href = url;
                        }
                    });
                });
</script>

    @*<script>

        function AccountStatusChange() {

            $("[name='toggleChk']").bootstrapSwitch();

            $("input[name='toggleChk']").on('switchChange.bootstrapSwitch', function (event, state) {
                //console.log(this); // DOM element
                //console.log(event); // jQuery event
                //console.log(state); // true | false
                //alert(state);
                var std_id = '@TempData["id"]';
                    $.ajax({
                        type: "POST",
                        url: "/Student/StudentInactive",
                        data: '{status: "Active"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(resbtnimgdvponse) {
                            alert(response.d);
                        },
                        failure: function(response) {

                        }
                    });
                    //$("#confirm-delete .close").click();

            
        });
        //$('#confirm-delete').modal('toggle');

        };

    </script>*@

}